@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* global reset */
html, body, body div, div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, img, s, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, main, nav, section, input, textarea, select, option {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}
html * {
    max-height: 1000000px;
}

/* common */
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}
p {
    color: #1f3f68;
    opacity: 0.9;
}
h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;
}
.container {
    width: 1140px;
    margin: 0 auto;
	/* transition: .5s ease-in-out; */
}

/* structure */
html {
    height: 100%;
}
body {
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    font: normal 400 16px/26px 'Roboto';
    letter-spacing: 0.05em;
	width: 1140px;
	margin: 0 auto;
}
header {
    height: 116px;
    flex: none;
    position: relative;
    z-index: 1;
}
footer {
    height: 657px;
    background: #316099;
    flex: none;
}
main {
    flex: auto;
    margin-top: -116px;
}

/* header */
header .container {
    width: 100%;
	height: 48px;
    padding: 34px 0;
	position:relative;
}
.logo {
    float: left;
    width: 46px;
    height: 48px;
    background: url('../images/logo.png') center center no-repeat;
}
.user {
    float: right;
    width: 34px;
    height: 48px;
    background: url('../images/user.png') center center no-repeat;
}

/* footer */
.liner {
    height: 0;
    border-top: 1px solid rgba(255,255,255,.4);
}
footer button {
    float: right;
    background: #5a98d0;
    height: 56px;
    width: 237px;
    color: #fff;
    letter-spacing: 0.04em;
    margin: 100px 66px 106px 408px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}
footer .container {
    padding: 28px 0;
    overflow: hidden;
	width: 100%;
	position:relative;

}
footer h2 {
    color: #fff;
    text-align: left;
    margin: 27px 66px 32px;
}
footer p {
    color: #fff;
	margin-left: 66px;
}
ol + p {
    opacity: 0.4;
}
ol {
    list-style-type: upper-alpha;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    margin: 0 68px 60px 90px;
}
ol li {
    width: 336px;
}
ol li::before {
    width: 20px;
    height: 30px;
    float: left;
    content: '';
}

.grad {
    
	height: 768px;
    background: linear-gradient(0deg, #EBF3FB 25%, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
	/* display: block; */
	
	
}
.grad .container {
    padding: 183px 0 94px; 
    height: 491px;
	/* background: url('../images/illustration.png') right 183px no-repeat; */
	/* display: block; */
	width: 100%;
	position:relative;
}
.grad .container img {
    float: right;
	
}

.grad .container .zagolovok {
	margin: 0 0 45px 0;
	width: 100%;
	height: 148px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 64px;
	line-height: 74px;
	letter-spacing: 0.04em;
	color: #072040;
	
	
}	

.grad .container button {
	
	width: 220px;
	height: 56px;
	background: #5A98D0;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;
	color: #FFF;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px
}



.grad .container p {
    width: 425px;
	height: 82px;
	margin: 0 0 68px 0;
	/* display:inline-block; */
}

.container_iz_kolonok {
	display: grid;
	padding-bottom:67px;
	justify-content: center;
	width: 100%;
	position:relative;
}

.zagolovok_kolonok {
	
	width: 1137px;
	height: 41px;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	padding-bottom: 70px;
	padding-top: 80px;
	
}

.zagolovok_kolonok p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 46px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #000000;
	
}




.kolonka1 {
	width: 359px;
	height: 480px;
	background: #FFFFFF;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	margin-right:17px;
	margin-left:17px;
}


.kolonka1 img {
	margin-left: 20%;
	margin-top:10%;
	margin-bottom: 11%;
}

.kolonka2 {
	width: 359px;
	height: 480px;
	background: #FFFFFF;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	margin-right:17px;
	margin-left:17px;
}


.kolonka2 img {
	margin-left: 20%;
	margin-top:10%;
	margin-bottom: 11%;
	
}

.kolonka3 {
	width: 359px;
	height: 480px;
	background: #FFFFFF;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	margin-right:17px;
	margin-left:17px;
}


.kolonka3 img {
	margin-left: 20%;
	margin-top:10%;
	margin-bottom: 11%;
}






.text3 {
	width: 283px;
	height: 55px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #1F3F68;
	margin-bottom: 38px;
	margin-left: 32px;
	margin-bottom: 5%;
}

.text4 {

	width: 268.31px;
	height: 94.2px;
	left: 130px;
	top: 1227px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #1F3F68;
	opacity: 0.6;
	margin-left: 32px;
	margin-bottom: 9%;
}

a {
	width: 77.56px;
	height: 27px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #5A98D0;
	margin-left: 32px;

}

.container_trio {
    display: grid;
    gap: 32px;
	grid-template-areas: 'a a' 'b c';
	margin-top: 50px;
	margin-bottom: 80px;
	
	/* width: 100%; */
	/* position:relative; */
	/* grid-template-columns: repeat(2, 1fr); */
	/* grid-template-rows: 1fr 1fr;  */
	
}
.first {
    
	/* width: 1140px; */
    height: 480px;
    border-radius: 10px;
    grid-area: a;
    background: url('../images/MaskGroup1.png') center no-repeat;
	/* margin-bottom: 32px; */
	position: relative;
	/* padding-right: 45px; */
	/* padding-top: 60px; */
	


}

 .text1 {
	/* position: absolute; */
	/* width: 1140px; */
	/* height: 46px; */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 46px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #000000;
	margin-bottom: 60px;
	
 }
 
.text2 {
	/* position: absolute; */
	width: 750px;
	/* height: 52px; */
	/* font-family: 'Roboto'; */
	/* font-style: normal; */
	/* font-weight: 400; */
	/* font-size: 16px; */
	/* line-height: 26px; */
	text-align: center;
	/* letter-spacing: 0.05em; */
	color: #222222;
	margin: auto;
 }
 
.first p {
	/* position: absolute; */
	/* width: 398px; */
	/* height: 112px; */
	float: right;
	right: 10px;
	margin: 50px 45px 0px 0px;

	/* font-family: 'Roboto'; */
	/* font-style: normal; */
	/* font-weight: 400; */
	font-size: 32px;
	line-height: 46px;
	/* or 144% */

	text-align: right;
	letter-spacing: 0.05em;

	color: #FFFFFF;
	/* color: black; */
 }



.second {
    /* width: 554px; */
    height: 417px;
    border-radius: 10px;
    grid-area: b;
    background: url('../images/MaskGroup2.png') center no-repeat;
	/* margin-bottom: 167px; */
	position: relative;
}

.second p {
	width: 258px;
	/* height: 46px; */
	left: 47px;
	top: 47px;
	/* float: left; */

	/* font-family: 'Roboto'; */
	/* font-style: normal; */
	/* font-weight: 400; */
	font-size: 28px;
	line-height: 46px;
	/* identical to box height, or 164% */

	letter-spacing: 0.05em;

	/* white */
	color: #FFFFFF;
	/* margin: 0px 0px 0px 0px; */
	position: relative;
}
.third {
    /* width: 554px; */
    /* height: 417px; */
	/* left: 20px; */
	/* top: 30px; */
	/* float: left; */
    /* border-radius: 10px; */
    /* grid-area: c; */
    background: url('../images/MaskGroup3.png') center no-repeat;
	/* padding-top: 47px; */
	/* padding-left: 32px; */
	/* margin-bottom: 167; */
	/* position: relative; */
}

.third p {
	/* width: 260px; */
	left: 42px;
	top: 47px;
	/* float: left; */
	/* height: 52px; */
	/* font-family: 'Roboto'; */
	/* font-style: normal; */
	/* font-weight: 400; */
	font-size: 28px;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	/* margin: 0px 0px 0px 0px; */
	position: relative;
}

/* fileContacts */

.headerHeight {
	width: 1140px;
	height: 100%;
	margin: 0% auto;
}
.headLiner {

	/* background-image: linear-gradient(white, gray); */
	background-image: url('../images/contact1.png');
	/* background-repeat: no-repeat; */
	background-position: center;
	/* margin: 10% 0% 10% 0%; */
	/* position: relative; */
    /* z-index: 1; */
	/* width:100%; */
	height:250px;
}	

.containerOuter {
	width:942px;
	margin: 0 auto;
	margin: 438px  0 35px 65px;
	display: grid;
}

.containerOurContact {
	width:302px;
	height:668px;
	/* margin: 0 auto; */
	float:left;
	display: grid;
}
.containerOurContact img {
	 
}





/* adaptive */
@media screen and (max-width:1204px) {
    
.container {
        width: 704px;
        margin: 0 215px;
		display:block;
	}
	
header .container {
    height: 48px;
    padding: 34px 0;
	width: 704px;
	
	}
	
.grad .container img{
	
	width: 32%;
	margin: 16% 0% 0% 32%;
    position: absolute;;
}
	
.logo {
	/* margin-left: 0px auto; */
}


.container_iz_kolonok {
	display: grid;
	padding-bottom:67px;
	width: 704px;
	position:relative;
	margin: 0 auto;
	gap: 20px;
}

.zagolovok_kolonok {
	
	width: 704px;
	height: 41px;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	padding-bottom: 70px;
	padding-top: 80px;
	
}

.kolonka1 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

a {
	margin-left: 32px;

}

.kolonka2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.kolonka3 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
}
	
	
.text2 {
	width: 520px;
	/* height: 78px; */
	/* font-family: 'Roboto'; */
	/* font-style: normal; */
	/* font-weight: 400; */
	/* font-size: 16px; */
	/* line-height: 26px; */
	/* text-align: center; */
	/* letter-spacing: 0.05em; */
	/* color: #222222; */
	/* display: inline-block; */
	margin: auto;
}	

.container_trio {
    /* width: 62%; */
    /* margin: 0 215px; */
	/* display:block; */
	/* width: 704px; */
	
	/* display: flex; */
	/* flex-wrap: inherit;  */
    
    /* grid-template-areas: 'aa' 'b c'; */
	/* width: 100%; */
	/* grid-template-columns: minmax(150px, 1.33fr); */
	/* grid-template-rows: minmax(150px, 1.33fr); */
	/* position:relative; */
	/* display: grid; */
	/* grid-template-columns: 0px 318px; */
    /* grid-template-rows: 200px 435px; */
    justify-content: center;
    /* gap: 143px; */
	/* height: 396px; */
	/* text-align: center; */
}
	
.first {
	background-size: 100%;
	width: 704px;
    height: 296px;
    /* border-radius: 10px; */
    /* grid-area: d; */
    /* background: url('../images/MaskGroup1.png') center no-repeat; */
	/* margin-bottom: 32px; */
}

.second {
    background-size: 100%;
	width: 336px;
    height: 253px;
    /* border-radius: 10px; */
    /* grid-area: e; */
    /* background: url('../images/MaskGroup2.png') center no-repeat; */
	/* margin-bottom: 167px; */

}

.third {
    background-size: 100%;
	width: 336px;
    height: 253px;
    border-radius: 10px;
    /* grid-area: f; */
    /* background: url('../images/MaskGroup3.png') center no-repeat; */
	/* margin-bottom: 167; */
	padding-top: 0px;
	padding-left: 0px;
	position: relative;
}	
	
	
.first p {
	/* position: absolute; */
	width: 398px;
	height: 112px;
	float: right;
	/* right: 10px; */
	/* margin: -388px 0px 0px 653px; */

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 46px;
	/* or 144% */

	text-align: right;
	letter-spacing: 0.05em;

	color: #FFFFFF;
	/* color: black; //proverka */
	/* color: black; */
	position: absolute;
	
 }
	
.second p {
	width: 258px;
	height: 46px;
	/* left:11px; */
	/* top: 22px; */

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 46px;
	/* identical to box height, or 164% */
	float: left;
	letter-spacing: 0.05em;

	/* white */
	color: #FFFFFF;
	/* color: black; //proverka */
	/* margin: -394px 0px 0px 34px; */
	position: absolute;

}	
	
.third p {
	/* width: 260px; */
	/* height: 52px; */
	/* font-family: 'Roboto'; */
	/* font-style: normal; */
	/* font-weight: 400; */
	/* font-size: 28px; */
	/* line-height: 46px; */
	/* letter-spacing: 0.05em; */
	color: #FFFFFF;
	/* color: black; //proverka */
	/* margin: -394px 0px 0px 34px; */
	/* position: absolute; */
	/* float: left; */
	/* margin-top: 45px; */
    /* margin-left: 30px; */
	position: relative;
	left:28px; 
	top: 46px;
}	
	
	
	.text1 {
	/* position: absolute; */
	/* width: 1140px; */
	/* height: 46px; */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 60px;
	
 }
 
	.text1 {
		
		
	
	}
	
    footer {
        height: 654px;
    }
    footer .container {
        padding: 64px 0px 50px 0px;
    }
    footer button {
        height: 32px;
        width: 133px;
        margin: 95px 520px 65px 0;
    }
    footer h2 {
        width: 336px;
        margin: -16px 64px 22px;
    }
    footer p {
        width: 336px;
    }
    ol {
        display: block;
        margin-bottom: 53px;
    }
    ol li {
        width: auto;
        margin-bottom: 19px;
    }
    ol li::before {
        height: 10px;
        width: 40px;
    }
   	
}









@media screen and (max-width:767px) {
    .container {
        margin: auto;
		width: 341px;
    }
    header {
        height: 80px;
    }
    header .container {
        padding: 30px 0;
		width: 341px;
		
    }
	
	.logo {
		margin: 0px;
	}
    main {
        margin-top: -80px;
    }
    
	.grad {
    /* width: 376px; */
	height: 376px;
    background: linear-gradient(0deg, #EBF3FB 25%, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
	/* display: block; */
}

.grad .container {
   
    /* height: 376px; */
	/* background: url('../images/illustration.png') right 183px no-repeat; */
	/* display: block; */
	width: 376px;
	/* position:relative; */
	padding: 100px 0 94px;
}
	

.grad .container .zagolovok {
	/* width: 350px; */
	height: 76px;
	margin: 0 0 15px 0;
	/* left: 31.51px; */
	/* top: 92px; */
	/* font-family: 'Roboto'; */
	/* font-style: normal; */
	/* font-weight: 300; */
	font-size: 32px;
	line-height: 38px;
	/* text-align: center; */
	/* letter-spacing: 0.04em; */
	/* color: #1F3F68; */

}
	
.grad .container p {
    width: 343px;
	height: 96px;
	margin: 0 0 25px 15px;
	text-align: center;
}

.grad .container button {	
	position: relative;
    left: 35%;
	width: 108px;
	height: 27px;
	font-weight: 400px;
	font-size: 12px;
	line-height: 26px;
}	
	
	
.grad .container img {
	display: none;
}

.container_iz_kolonok {

width: 343px;
padding-bottom: 60px	
}
	
.zagolovok_kolonok {
	width: 343px;
	padding-left: 30px;
	/* padding-right: 10px;	 */
	padding-bottom: 20px;
	padding-top: 50px;
}	
	
.zagolovok_kolonok p {	

	
width: 341px;
/* height: 55px; */
/* left: 17px; */
/* top: 424px; */

/* font-family: 'Roboto'; */
/* font-style: normal; */
/* font-weight: 300; */
font-size: 24px;
line-height: 28px;
/* text-align: center; */

color: #000000;

}	

.kolonka1, .kolonka2, .kolonka3 {
	margin-right: 0px;
    margin-left: 0px;
}	
	
	.text2 {
	width: 343px;
	/* height: 96px; */
	margin: auto;
	/* text-align: center; */
		
	}
	
	.container_trio {
	grid-template-areas: 'a' 'b' 'c';
	gap: 20px;
	margin-bottom: 60px;
	}
	
	
	.first {
	
    background-size: 100%;
    width: 343px;
    height: 145px;
	
	}
	
	.second {
    background-size: 100%;
    width: 343px;
    height: 253px;
	}
	
	.third {
    background-size: 100%;
    width: 336px;
    height: 253px;
    border-radius: 10px;
	padding-top: 0px;
    padding-left: 0px;
    position: relative;
}
	
	.first p {
	/* width: 192px; */
	/* height: 16px; */
	/* left: 151px; */
	/* top: 2257px; */

	/* font-family: 'Roboto'; */
	/* font-style: normal; */
	/* font-weight: 400; */
	font-size: 16px;
	/* line-height: 19px; */
	/* text-align: right; */

	/* color: #FFFFFF; */
	/* position: relative; */
	margin: 10px 8px 0 0;
	}	
	
	.second p {
	
	font-size: 16px;
	margin: -35px 0px 0px -25px;
	
	}
	
	.third  p {
	font-size: 16px;
	margin: -35px 0px 0px -5px;
	
	
	}
	
	footer {
        height: 553px;
		
    }
    footer .container {
        display: flex;
        flex-direction: column;
        padding: 18px 0 40px;
		width:343px;
    }
    footer button {
        order: 1;
        float: none;
        width: 108px;
        margin: 33px auto 0;
    }
    footer h2 {
        width: auto;
        text-align: center;
        font-size: 24px;
		line-height: 28px;
        letter-spacing: 0px;
        margin: 0 0 27px;
    }
    footer p {
        width: 343px;
        text-align: center;
		margin: auto;
		opacity: 0.6;
    }
    ol {
        margin: 14px 0 11px 22px;
    }
    ol li {
        line-height: 19px;
    }
    ol li::before {
        height: 20px;
        width: 20px;
    }
    
}

